/* Common styles */
.fixed-header {
    height: 70px;
    background-color: #EFF5FD;
}

/* Common colours */
.text-blue-1 {
    color: #03045E;
}
.text-blue-2 {
    color: #7BC7FF;
}
.text-blue-3 {
    color: #0165DA;
}
.text-blue-4 {
    color: #BAE7EC;
}
.text-blue-5 {
    color: #CDE7FF;
}
.text-blue-6 {
    color: #EFF5FD;
}
.underline-blue-1 {
    text-decoration: underline #03045E;
}
.underline-blue-2 {
    text-decoration: underline #7BC7FF;
}
.underline-blue-3 {
    text-decoration: underline #0165DA;
}
.underline-blue-4 {
    text-decoration: underline #BAE7EC;
}
.underline-blue-5 {
    text-decoration: underline #CDE7FF;
}
.underline-blue-6 {
    text-decoration: underline #EFF5FD;
}
.bg-blue-1 {
    background-color: #03045E;
}
.bg-blue-2 {
    background-color: #7BC7FF;
}
.bg-blue-3 {
    background-color: #0165DA;
}
.bg-blue-4 {
    background-color: #BAE7EC;
}
.bg-blue-5 {
    background-color: #CDE7FF;
}
.bg-blue-6 {
    background-color: #EFF5FD;
}
.border-blue-1 {
    border-color: #03045E;
}
.border-blue-2 {
    border-color: #7BC7FF;
}
.border-blue-3 {
    border-color: #0165DA;
}
.border-blue-4 {
    border-color: #BAE7EC;
}
.border-blue-5 {
    border-color: #CDE7FF;
}
.border-blue-6 {
    border-color: #EFF5FD;
}

.text-size-4xl {
    font-size: 100px;
    line-height: 116px;
}

.bg-body-blue {
    background-color: #EFF5FD;
}

/* Header style */
.header-name {
    font-size: 30px;
}

.header-menu a {
    font-size: 18px;
    width: 74px;
}

.header-menu a:hover {
    text-decoration: unset;
    color: #0165DA;
}

/* Add the following CSS for animation */
@keyframes slide-in {
    0% {
        transform: translateX(-100%) scale(0.9);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}
.nav-hidden {
    display: none;
}
.animated-menu-1 {
    animation: slide-in 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}
.animated-menu-2 {
    animation: slide-in 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}
.animated-menu-3 {
    animation: slide-in 0.9s cubic-bezier(0.42, 0, 0.58, 1);
}
.animated-menu-4 {
    animation: slide-in 1s cubic-bezier(0.42, 0, 0.58, 1);
}
@media (min-width: 1024px) {
    .nav-hidden {
        display: flex;
    }
    .animated-menu-1 {
        animation: none;
    }
    .animated-menu-2 {
        animation: none;
    }
    .animated-menu-3 {
        animation: none;
    }
    .animated-menu-4 {
        animation: none;
    }
}

/* Section Cover */
.section-fp {
    height: 100vh;
}
.profile-image {
    height: 160px;
    width: auto;
    border-radius: 50%;
}
.btn-cta {
    background-color: #7BC7FF;
    width: 160px;
    height: 60px;
    line-height: unset;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #0A2147;
}
.btn-cta:hover {
    background-color: #BAE7EC;
}
@media (max-width: 768px) {
    #cover-section {
        background-image: url("../Image/Mobile-Tablet_PI_65.svg");
        position: relative;
        background-size: cover;
        background-position: center;
    }
}

/* Experience styles */
.date-w-fit {
    width: fit-content;
}
.cert-item {
    width: 32%;
}
/* Effect text running */
.typing-async-effect {
    animation: cubic-bezier(0.4, 0, 0.2, 1) 1s infinite normal both running typing-async-effect;
    text-decoration: underline #BAE7EC;
}
.blinking-cursor {
    user-select: none;
    animation: blink 2s steps(2, start) infinite; }
  
  @keyframes blink {
    to {
      visibility: hidden; } }